ASPNETCORE_ENVIRONMENT=Production

ConnectionStrings__DefaultConnection=Host=aws-0-xx.pooler.supabase.com;Port=6543;Database=postgres;Username=postgres.xxxx;Password=SUASENHA;SSL Mode=Require;Trust Server Certificate=true

Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

Email__From=noreply@lawllit.com
Email__SmtpHost=smtp-relay.brevo.com
Email__SmtpPort=587
Email__SmtpUser=SEU_EMAIL_DE_LOGIN_BREVO
Email__SmtpPass=SUA_CHAVE_SMTP_BREVO
