@if (TempData["Success"] is string successMessage)
{
    <div class="container-lg pt-3">
        <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
            @successMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
}
@if (TempData["Error"] is string errorMessage)
{
    <div class="container-lg pt-3">
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
}
